.panel {
  height: 60px;
  width: 100vw;
  background-color: #2a2929;
}

.panelTest {
  /* background-color: blue; */
  height: 100%;
  width: 60vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.button-def {
  background-color: #2a2929;
  width: 100%;
  height: 36px;
  text-align: center;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  border-right: 16px solid #2a2929;
  border-left: 16px solid #2a2929;
  white-space: pre;
}

.button-def i {
  color: #f5c518;
  margin-right: 6px;
}

.button-ouver {
  background-color: #202020;
  width: 100%;
  height: 36px;
  text-align: center;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  border-right: 16px solid #202020;
  border-left: 16px solid #202020;
  white-space: pre;
}

.button-ouver i {
  color: #f5c518;
  margin-right: 6px;
}

.panelTest2 {
  /* background-color: red;  */
  width: auto;
  height: auto;
  margin-right: 16px;
  align-content: center;

}

.panelTest3 {
  /* background-color: red;  */
  height: 100%;
  width: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.panelTest4 {
  /* background-color: red; */
  height: 60px;
  width: 100%;
  margin-right: 16px;
  align-content: center;
}

.panelTest5 {
  /* background-color: red; */
  height: 60px;
  width: auto;
  margin-right: 16px;
  align-content: center;
}

.panelTest6 {
  /* background-color: red; */
  height: 60px;
  width: auto;
  margin-right: 16px;
  align-content: center;
}

.buscador-menu {
  background-color: white;
  height: 36px;
  width: 100%;
  border-radius: 5px;
}

.panelTestFoto {
  background-color: #202020;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.panelTestFoto i {
  color: #fcfcfc;
  font-size: 24px;

}

.imgLogo {
  height: auto;
  width: 100px;
  color: #f5c518;
  cursor: pointer;
  min-width: 100px;

}

.menu-panel {
  position: absolute;
  background-color: #2a2929;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.menu-panel-contenedor {

  background-color: #2a2929;
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 38px;

}

.button-cerrar-menu {
  background-color: #f5c518;
  margin: 18px;
  padding: 16px;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-cerrar-menu i {
  font-size: 21px;
}

.div-menu-top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-menu-top img {
  scale: 2;
  align-items: start;
}

.div-menu-contenido {
  display: flex;
  width: 100%;
  height: 100%;
}

.div-menu-contenido div {
  margin-right: auto;
}

.div-menu-contenido h6 {
  color: white;
}

.div-menu-contenido i {
  color: #f5c518;
}

.div-menu-contenido p {
  margin: 8px;
  margin-left: 28px;
  cursor: pointer;
}


@media (max-width: 768px) {

  .panelTest3 {
    visibility: hidden;
    width: 0px;
    height: auto;
  }
  .panelTest6{
    visibility: hidden;
    width: 0px;
    height: auto;
  }

  .panelTest4{
    visibility: hidden;
    width: 0px;
    height: auto;
  }
  
}