.div-separador {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url(".././imgs/ElEmbarcoDeSantaPaulaRomana.jpg");
    background-repeat: repeat;
}

.div-separador img {
    height: 200vw;
}

.div-contenedor-separador-padre {
    height: 50vh;
    width: 100%;
}